{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
    {% for entry in entries  %}
          <div class="entry-card">
        <h2><a href="{% url 'journal:detail' pk=entry.pk %}">{{ entry.title }}</a></h2>
        {{ entry.created }}
        <ul class="skills">
            {% for skill in entry.skills.all %}
                <li class="skill"><i class="{{ skill.icon }}" title="{{ skill.name }} "></i></li>
            {% endfor %}
        </ul>
        </div>
    {% endfor %}
{% endblock %}
