{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="entry-card detail">
        <h2>{{ entry.title }}</h2>
        {{ entry.created }}
        <div class="entry-body">
            {{ entry.display_my_safefield }}
        </div>

        <ul class="skills">
            {% for skill in entry.skills.all|slice:":13" %}
                  <li class="skill-icon"><i class="{{ skill.icon }}" title="{{ skill.name }} "></i></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
