{% load static from staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link href='https://fonts.googleapis.com/css?family=Audiowide|Tillana:700|Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'styles/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %} Coding Journal{% endblock %}</title>
</head>
<body>
    <div class="site-container">
        <div class="home-bar">
            <h1 class="left">Brigette's Coding Journal</h1>
            <h1 class="right"><a href="/">Home</a></h1>
        </div>
        <div class="content">
            {% block content %}
         {% endblock %}</div>
    </div>
    <div class="footer">
        <div class="icons">
			<a href="https://twitter.com/Brigette_Eckert">
				<img src="{% static 'img/twitter.png' %}" Title="Twitter" alt="Twitter Logo" class="logo">
			</a>
			<a href="https://www.linkedin.com/in/brigetteeckert">
				<img src="{% static 'img/linkedin.png' %}" title="LinkedIn"alt="LinkedIn Logo" class="logo">
			</a>
			<a href="https://github.com/Brigette-Eckert">
				<img src="{% static 'img/git.png' %}" title="Github" alt="Octo-Kitty the Git Hub Logo" class="logo">
			</a>
			<a href="http://www.bbeckert.com">
				<img src="{% static 'img/code.png'%}" title="Portfolio" alt="html arrow brackets" class="logo">
			</a>
		</div>
		<p>Created 2016 with Creative Commons License<br><a href="http://www.colourlovers.com/palette/561001/princess"> Colour Palette "Princess" by Bluefrog </a></p>
    </div>
</body>
</html>